DATABASE_URL="file:./dev.db"
REDIS_URL="redis://localhost:6379"
PORT=3000
QUEUE_MODE=memory
COOKIE_SECRET="change-me-32-bytes-or-more"
JWT_SECRET="change-me-to-a-random-string-at-least-32-chars"
ADMIN_PASSWORD="your-admin-password"
FORCE_HTTPS=false
